body{
	background-color: #256D85;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.1em;
	letter-spacing: -0.005em;
	}

header {
  background-color: #06283D;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  display: inline-block
}

#main-navbar ul li {
  float: left;
  position: relative;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 60px;
  color: #47B5FF;
  text-align: center;
  text-decoration: Highlight;
  font-weight: bold;
}

#main-navbar ul li a:hover {
  background-color: #EBB813;
}

#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;
}

h1 {
	text-align: center;
	background-color: #2B819E;
}

h4 {
	text-align: center;
	background-color: #47B5FF;
	margin: auto;
	padding: 5px;
}

h2{
	background-color: #6E7373;
    font-size: 1.0em;
	text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
	padding: 5px;
}

h3 {
    background-color: #FFDBB5;
	padding: 2px;
}

	
#baseball{
	width: 30px; 
	height: 40px;   
	position: relative;
	border: 10px solid white;	
	left:10px;
	top: 20px;
	width: 30%;
	height: auto;
	margin-right: 40%;
}

#family{
	width: 50px; 
	height: 40px;  
	position: relative;
	border: 10px solid white;
	left:60px;
	top: 20px;
	width: 25%;
	height: auto;
	margin-right: 70%;
}
#dodgers{
	width: 700px; 
	height: 400px; 
	border: 10px solid white;    
	position: relative;  
	left:300px;
	top: 20px;
}

#kershaw{
	width: 600px; 
	height: 300px;
	margin: 25px;
	border: 10px solid black;  
	position: relative;  
	left:350px;
	top: 20px;
}
iframe{
	width: 680px;
	top: 380px;
	position: relative;
	left: 420px;
	top: 10px;
	border: 0px;
}

#map{
	position: absolute;
	width: 50%;
	height: 40%;
	right: 20%;
	top: 6%;
	margin-top: 10px;
	border: solid red 5px;
	border-radius: 10px;
}